<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AutoGallery.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AutoGallery.Properties.Settings.AutoGalleryConnectionString" connectionString="Data Source=302-07;Initial Catalog=AutoGallery;User ID=WebMobile_302;Password=webmobile.302" providerName="System.Data.SqlClient" />
    <add name="AutoGalleryEntities" connectionString="metadata=res://*/ModelAutoGallery.csdl|res://*/ModelAutoGallery.ssdl|res://*/ModelAutoGallery.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=302-07;initial catalog=AutoGallery;persist security info=True;user id=WebMobile_302;password=webmobile.302;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoGalleryEntity" connectionString="metadata=res://*/AutoGalleryEntity.csdl|res://*/AutoGalleryEntity.ssdl|res://*/AutoGalleryEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CENGIZ\SQLEXPRESS;initial catalog=AutoGallery;user id=sa;password=ceza1997;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <AutoGallery.Settings>
      <setting name="dil" serializeAs="String">
        <value>İngilizce</value>
      </setting>
    </AutoGallery.Settings>
  </userSettings>
</configuration>