USE [AutoGallery]
GO
/****** Object:  Table [dbo].[Arac_Durumu_Tablosu]    Script Date: 12.12.2022 13:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arac_Durumu_Tablosu](
	[Arac_Durumu_Id] [int] IDENTITY(1,1) NOT NULL,
	[Arac_Durumu] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Arac_Durumu_Tablosu] PRIMARY KEY CLUSTERED 
(
	[Arac_Durumu_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Arac_Tablosu]    Script Date: 12.12.2022 13:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arac_Tablosu](
	[Arac_Id] [int] IDENTITY(1,1) NOT NULL,
	[Plaka] [nvarchar](20) NOT NULL,
	[Model_Id] [int] NOT NULL,
	[Arac_Durumu_Id] [int] NOT NULL,
	[Kira_Ucreti] [money] NULL,
	[Satis_Ucreti] [money] NULL,
	[Yil] [int] NOT NULL,
	[Yakit] [nvarchar](20) NOT NULL,
	[Km] [int] NOT NULL,
	[Renk] [nvarchar](25) NOT NULL,
	[Resim] [nvarchar](150) NULL,
	[Sube_Id] [int] NOT NULL,
 CONSTRAINT [PK_Arac_Tablosu] PRIMARY KEY CLUSTERED 
(
	[Arac_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marka_Tablosu]    Script Date: 12.12.2022 13:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marka_Tablosu](
	[Marka_Id] [int] IDENTITY(1,1) NOT NULL,
	[Marka_Adi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Marka_Tablosu] PRIMARY KEY CLUSTERED 
(
	[Marka_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model_Tablosu]    Script Date: 12.12.2022 13:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model_Tablosu](
	[Model_Id] [int] IDENTITY(1,1) NOT NULL,
	[Marka_Id] [int] NOT NULL,
	[Model_Adi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Model_Tablosu] PRIMARY KEY CLUSTERED 
(
	[Model_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri_Tablosu]    Script Date: 12.12.2022 13:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri_Tablosu](
	[Musteri_Id] [int] IDENTITY(1,1) NOT NULL,
	[Musteri_Tc] [nvarchar](11) NOT NULL,
	[Musteri_Adi_Soyadi] [nvarchar](80) NOT NULL,
	[Musteri_Dogum_Tarihi] [datetime2](7) NOT NULL,
	[Musteri_Telefon] [nvarchar](20) NOT NULL,
	[Musteri_Ehliyet_No] [nvarchar](20) NOT NULL,
	[Musteri_Ehliyet_Tarihi] [smalldatetime] NOT NULL,
	[Musteri_EMail] [nvarchar](50) NULL,
	[Musteri_Adres] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Musteri_Tablosu] PRIMARY KEY CLUSTERED 
(
	[Musteri_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel_Tablosu]    Script Date: 12.12.2022 13:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel_Tablosu](
	[Personel_Id] [int] IDENTITY(1,1) NOT NULL,
	[Personel_Tc] [nvarchar](11) NOT NULL,
	[Personel_Adi_Soyadi] [nvarchar](80) NOT NULL,
	[Personel_Dogum_Tarihi] [smalldatetime] NOT NULL,
	[Personel_Telefon] [nvarchar](20) NOT NULL,
	[Personel_EMail] [nvarchar](50) NULL,
	[Personel_Adres] [nvarchar](150) NOT NULL,
	[Personel_Resim] [nvarchar](200) NULL,
	[Personel_Turu_Id] [int] NOT NULL,
	[Sube_Id] [int] NOT NULL,
	[Personel_Sifre] [nvarchar](20) NULL,
 CONSTRAINT [PK_Personel_Tablosu] PRIMARY KEY CLUSTERED 
(
	[Personel_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel_Turu_Tablosu]    Script Date: 12.12.2022 13:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel_Turu_Tablosu](
	[Personel_Turu_Id] [int] IDENTITY(1,1) NOT NULL,
	[Personel_Turu] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Personel_Turu_Tablosu] PRIMARY KEY CLUSTERED 
(
	[Personel_Turu_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sozlesme_Tablosu]    Script Date: 12.12.2022 13:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sozlesme_Tablosu](
	[Sozlesme_Id] [int] IDENTITY(1,1) NOT NULL,
	[Musteri_Id] [int] NOT NULL,
	[Arac_Id] [int] NOT NULL,
	[Alıs_Tarihi] [smalldatetime] NOT NULL,
	[Veris_Tarihi] [smalldatetime] NULL,
	[Toplam_Ucret] [money] NOT NULL,
	[Sozlesme_Turu_Id] [int] NOT NULL,
	[Personel_Id] [int] NOT NULL,
	[Sube_Id] [int] NOT NULL,
 CONSTRAINT [PK_Sozlesme_Tablosu] PRIMARY KEY CLUSTERED 
(
	[Sozlesme_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sozlesme_Turu_Tablosu]    Script Date: 12.12.2022 13:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sozlesme_Turu_Tablosu](
	[Sozlesme_Turu_Id] [int] IDENTITY(1,1) NOT NULL,
	[Sozlesme_Turu] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Sozlesme_Turu_Tablosu] PRIMARY KEY CLUSTERED 
(
	[Sozlesme_Turu_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subeler_Tablosu]    Script Date: 12.12.2022 13:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subeler_Tablosu](
	[Sube_Id] [int] IDENTITY(1,1) NOT NULL,
	[Sube_Adi] [nvarchar](50) NOT NULL,
	[Sube_Adres] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Subeler_Tablosu] PRIMARY KEY CLUSTERED 
(
	[Sube_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Arac_Durumu_Tablosu] ON 

INSERT [dbo].[Arac_Durumu_Tablosu] ([Arac_Durumu_Id], [Arac_Durumu]) VALUES (1, N'Müsait')
INSERT [dbo].[Arac_Durumu_Tablosu] ([Arac_Durumu_Id], [Arac_Durumu]) VALUES (2, N'Kiralandı')
INSERT [dbo].[Arac_Durumu_Tablosu] ([Arac_Durumu_Id], [Arac_Durumu]) VALUES (3, N'Satıldı')
SET IDENTITY_INSERT [dbo].[Arac_Durumu_Tablosu] OFF
GO
SET IDENTITY_INSERT [dbo].[Arac_Tablosu] ON 

INSERT [dbo].[Arac_Tablosu] ([Arac_Id], [Plaka], [Model_Id], [Arac_Durumu_Id], [Kira_Ucreti], [Satis_Ucreti], [Yil], [Yakit], [Km], [Renk], [Resim], [Sube_Id]) VALUES (1, N'34 AB 2458', 850, 1, 700.0000, 678750.0000, 2018, N'Dizel', 148500, N'Kırmızı', NULL, 2)
INSERT [dbo].[Arac_Tablosu] ([Arac_Id], [Plaka], [Model_Id], [Arac_Durumu_Id], [Kira_Ucreti], [Satis_Ucreti], [Yil], [Yakit], [Km], [Renk], [Resim], [Sube_Id]) VALUES (2, N'34 AB 3624', 28, 3, 1000.0000, 615000.0000, 2015, N'Dizel', 181000, N'Siyah', NULL, 2)
INSERT [dbo].[Arac_Tablosu] ([Arac_Id], [Plaka], [Model_Id], [Arac_Durumu_Id], [Kira_Ucreti], [Satis_Ucreti], [Yil], [Yakit], [Km], [Renk], [Resim], [Sube_Id]) VALUES (3, N'34 TK 1024', 76, 1, 1500.0000, 810000.0000, 2013, N'Dizel', 185000, N'Beyaz', NULL, 2)
SET IDENTITY_INSERT [dbo].[Arac_Tablosu] OFF
GO
SET IDENTITY_INSERT [dbo].[Marka_Tablosu] ON 

INSERT [dbo].[Marka_Tablosu] ([Marka_Id], [Marka_Adi]) VALUES (1, N'Alfa Romeo')
INSERT [dbo].[Marka_Tablosu] ([Marka_Id], [Marka_Adi]) VALUES (2, N'Anadol')
INSERT [dbo].[Marka_Tablosu] ([Marka_Id], [Marka_Adi]) VALUES (3, N'Aston Martin')
SET IDENTITY_INSERT [dbo].[Marka_Tablosu] OFF
GO
SET IDENTITY_INSERT [dbo].[Model_Tablosu] ON 

INSERT [dbo].[Model_Tablosu] ([Model_Id], [Marka_Id], [Model_Adi]) VALUES (1, 1, N'4C')
INSERT [dbo].[Model_Tablosu] ([Model_Id], [Marka_Id], [Model_Adi]) VALUES (2, 1, N'33')
INSERT [dbo].[Model_Tablosu] ([Model_Id], [Marka_Id], [Model_Adi]) VALUES (3, 1, N'75')
GO
SET IDENTITY_INSERT [dbo].[Model_Tablosu] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteri_Tablosu] ON 

INSERT [dbo].[Musteri_Tablosu] ([Musteri_Id], [Musteri_Tc], [Musteri_Adi_Soyadi], [Musteri_Dogum_Tarihi], [Musteri_Telefon], [Musteri_Ehliyet_No], [Musteri_Ehliyet_Tarihi], [Musteri_EMail], [Musteri_Adres]) VALUES (1002, N'56231425012', N'Mustafa Kocamaz', CAST(N'1984-06-13T23:48:47.0000000' AS DateTime2), N'5402633514', N'20043456', CAST(N'2004-07-15T23:49:00' AS SmallDateTime), N'mustafakocamz@hotmail.com', N'Avcılar')
INSERT [dbo].[Musteri_Tablosu] ([Musteri_Id], [Musteri_Tc], [Musteri_Adi_Soyadi], [Musteri_Dogum_Tarihi], [Musteri_Telefon], [Musteri_Ehliyet_No], [Musteri_Ehliyet_Tarihi], [Musteri_EMail], [Musteri_Adres]) VALUES (1003, N'14256314520', N'Enes Tatar', CAST(N'1990-06-22T23:51:23.0000000' AS DateTime2), N'5369562414', N'20083625', CAST(N'2008-01-16T23:51:00' AS SmallDateTime), N'enestatar@gmail.com', N'Ataşehir')
INSERT [dbo].[Musteri_Tablosu] ([Musteri_Id], [Musteri_Tc], [Musteri_Adi_Soyadi], [Musteri_Dogum_Tarihi], [Musteri_Telefon], [Musteri_Ehliyet_No], [Musteri_Ehliyet_Tarihi], [Musteri_EMail], [Musteri_Adres]) VALUES (1004, N'36251474852', N'Baran Demirtaş', CAST(N'1975-07-27T23:53:33.0000000' AS DateTime2), N'5382653625', N'19972036', CAST(N'1997-09-24T23:54:00' AS SmallDateTime), N'barandemirtas@hotmail.com', N'Antalya Muratpaşa')
SET IDENTITY_INSERT [dbo].[Musteri_Tablosu] OFF
GO
SET IDENTITY_INSERT [dbo].[Personel_Tablosu] ON 

INSERT [dbo].[Personel_Tablosu] ([Personel_Id], [Personel_Tc], [Personel_Adi_Soyadi], [Personel_Dogum_Tarihi], [Personel_Telefon], [Personel_EMail], [Personel_Adres], [Personel_Resim], [Personel_Turu_Id], [Sube_Id], [Personel_Sifre]) VALUES (1, N'52528430234', N'Cengiz Eryiğit', CAST(N'1997-11-11T00:00:00' AS SmallDateTime), N'5303877908', N'cengiz_eryigit@hotmail.com', N'Çekmeköy', NULL, 1, 1, N'cengiz1997')
INSERT [dbo].[Personel_Tablosu] ([Personel_Id], [Personel_Tc], [Personel_Adi_Soyadi], [Personel_Dogum_Tarihi], [Personel_Telefon], [Personel_EMail], [Personel_Adres], [Personel_Resim], [Personel_Turu_Id], [Sube_Id], [Personel_Sifre]) VALUES (2, N'40522687126', N'Kerem Eryiğit', CAST(N'2007-01-16T17:50:00' AS SmallDateTime), N'5302456398', N'keremeryigit@hotmail.com', N'Çekmeköy', NULL, 2, 2, N'keremeryigit')
INSERT [dbo].[Personel_Tablosu] ([Personel_Id], [Personel_Tc], [Personel_Adi_Soyadi], [Personel_Dogum_Tarihi], [Personel_Telefon], [Personel_EMail], [Personel_Adres], [Personel_Resim], [Personel_Turu_Id], [Sube_Id], [Personel_Sifre]) VALUES (3, N'26534126824', N'Mustafa Küçük', CAST(N'1994-06-15T18:44:00' AS SmallDateTime), N'5316806400', N'mustafakucuk@hotmail.com', N'Fatih', NULL, 4, 2, N'mustafakucuk')
SET IDENTITY_INSERT [dbo].[Personel_Tablosu] OFF
GO
SET IDENTITY_INSERT [dbo].[Personel_Turu_Tablosu] ON 

INSERT [dbo].[Personel_Turu_Tablosu] ([Personel_Turu_Id], [Personel_Turu]) VALUES (1, N'Yönetici')
INSERT [dbo].[Personel_Turu_Tablosu] ([Personel_Turu_Id], [Personel_Turu]) VALUES (2, N'Şube Yöneticisi')
INSERT [dbo].[Personel_Turu_Tablosu] ([Personel_Turu_Id], [Personel_Turu]) VALUES (3, N'Personel')
SET IDENTITY_INSERT [dbo].[Personel_Turu_Tablosu] OFF
GO
SET IDENTITY_INSERT [dbo].[Sozlesme_Tablosu] ON 

INSERT [dbo].[Sozlesme_Tablosu] ([Sozlesme_Id], [Musteri_Id], [Arac_Id], [Alıs_Tarihi], [Veris_Tarihi], [Toplam_Ucret], [Sozlesme_Turu_Id], [Personel_Id], [Sube_Id]) VALUES (2, 1003, 3, CAST(N'2022-11-26T02:13:00' AS SmallDateTime), CAST(N'2022-11-30T02:13:00' AS SmallDateTime), 6000.0000, 1, 2, 2)
INSERT [dbo].[Sozlesme_Tablosu] ([Sozlesme_Id], [Musteri_Id], [Arac_Id], [Alıs_Tarihi], [Veris_Tarihi], [Toplam_Ucret], [Sozlesme_Turu_Id], [Personel_Id], [Sube_Id]) VALUES (3, 1003, 3, CAST(N'2022-11-26T02:26:00' AS SmallDateTime), CAST(N'2022-11-30T02:26:00' AS SmallDateTime), 6000.0000, 1, 2, 2)
INSERT [dbo].[Sozlesme_Tablosu] ([Sozlesme_Id], [Musteri_Id], [Arac_Id], [Alıs_Tarihi], [Veris_Tarihi], [Toplam_Ucret], [Sozlesme_Turu_Id], [Personel_Id], [Sube_Id]) VALUES (4, 1004, 7, CAST(N'2022-11-26T02:30:00' AS SmallDateTime), CAST(N'2022-11-28T02:30:00' AS SmallDateTime), 4200.0000, 1, 2, 2)
SET IDENTITY_INSERT [dbo].[Sozlesme_Tablosu] OFF
GO
SET IDENTITY_INSERT [dbo].[Sozlesme_Turu_Tablosu] ON 

INSERT [dbo].[Sozlesme_Turu_Tablosu] ([Sozlesme_Turu_Id], [Sozlesme_Turu]) VALUES (1, N'Kiralık')
INSERT [dbo].[Sozlesme_Turu_Tablosu] ([Sozlesme_Turu_Id], [Sozlesme_Turu]) VALUES (2, N'Satılık')
SET IDENTITY_INSERT [dbo].[Sozlesme_Turu_Tablosu] OFF
GO
SET IDENTITY_INSERT [dbo].[Subeler_Tablosu] ON 

INSERT [dbo].[Subeler_Tablosu] ([Sube_Id], [Sube_Adi], [Sube_Adres]) VALUES (1, N'Yönetim', N'Çekmeköy')
INSERT [dbo].[Subeler_Tablosu] ([Sube_Id], [Sube_Adi], [Sube_Adres]) VALUES (2, N'İstanbul 1', N'Beşiktaş')
INSERT [dbo].[Subeler_Tablosu] ([Sube_Id], [Sube_Adi], [Sube_Adres]) VALUES (3, N'İstanbul 2', N'Kadıköy')
SET IDENTITY_INSERT [dbo].[Subeler_Tablosu] OFF
GO
ALTER TABLE [dbo].[Arac_Tablosu]  WITH CHECK ADD  CONSTRAINT [FK_Arac_Tablosu_Arac_Durumu_Tablosu] FOREIGN KEY([Arac_Durumu_Id])
REFERENCES [dbo].[Arac_Durumu_Tablosu] ([Arac_Durumu_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Arac_Tablosu] CHECK CONSTRAINT [FK_Arac_Tablosu_Arac_Durumu_Tablosu]
GO
ALTER TABLE [dbo].[Arac_Tablosu]  WITH CHECK ADD  CONSTRAINT [FK_Arac_Tablosu_Model_Tablosu] FOREIGN KEY([Model_Id])
REFERENCES [dbo].[Model_Tablosu] ([Model_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Arac_Tablosu] CHECK CONSTRAINT [FK_Arac_Tablosu_Model_Tablosu]
GO
ALTER TABLE [dbo].[Arac_Tablosu]  WITH CHECK ADD  CONSTRAINT [FK_Arac_Tablosu_Subeler_Tablosu] FOREIGN KEY([Sube_Id])
REFERENCES [dbo].[Subeler_Tablosu] ([Sube_Id])
GO
ALTER TABLE [dbo].[Arac_Tablosu] CHECK CONSTRAINT [FK_Arac_Tablosu_Subeler_Tablosu]
GO
ALTER TABLE [dbo].[Model_Tablosu]  WITH CHECK ADD  CONSTRAINT [FK_Model_Tablosu_Marka_Tablosu] FOREIGN KEY([Marka_Id])
REFERENCES [dbo].[Marka_Tablosu] ([Marka_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Model_Tablosu] CHECK CONSTRAINT [FK_Model_Tablosu_Marka_Tablosu]
GO
ALTER TABLE [dbo].[Personel_Tablosu]  WITH CHECK ADD  CONSTRAINT [FK_Personel_Tablosu_Personel_Turu_Tablosu] FOREIGN KEY([Personel_Turu_Id])
REFERENCES [dbo].[Personel_Turu_Tablosu] ([Personel_Turu_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Personel_Tablosu] CHECK CONSTRAINT [FK_Personel_Tablosu_Personel_Turu_Tablosu]
GO
ALTER TABLE [dbo].[Personel_Tablosu]  WITH CHECK ADD  CONSTRAINT [FK_Personel_Tablosu_Subeler_Tablosu] FOREIGN KEY([Sube_Id])
REFERENCES [dbo].[Subeler_Tablosu] ([Sube_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Personel_Tablosu] CHECK CONSTRAINT [FK_Personel_Tablosu_Subeler_Tablosu]
GO
ALTER TABLE [dbo].[Sozlesme_Tablosu]  WITH CHECK ADD  CONSTRAINT [FK_Sozlesme_Tablosu_Arac_Tablosu] FOREIGN KEY([Arac_Id])
REFERENCES [dbo].[Arac_Tablosu] ([Arac_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sozlesme_Tablosu] CHECK CONSTRAINT [FK_Sozlesme_Tablosu_Arac_Tablosu]
GO
ALTER TABLE [dbo].[Sozlesme_Tablosu]  WITH CHECK ADD  CONSTRAINT [FK_Sozlesme_Tablosu_Musteri_Tablosu] FOREIGN KEY([Musteri_Id])
REFERENCES [dbo].[Musteri_Tablosu] ([Musteri_Id])
GO
ALTER TABLE [dbo].[Sozlesme_Tablosu] CHECK CONSTRAINT [FK_Sozlesme_Tablosu_Musteri_Tablosu]
GO
ALTER TABLE [dbo].[Sozlesme_Tablosu]  WITH CHECK ADD  CONSTRAINT [FK_Sozlesme_Tablosu_Personel_Tablosu] FOREIGN KEY([Personel_Id])
REFERENCES [dbo].[Personel_Tablosu] ([Personel_Id])
GO
ALTER TABLE [dbo].[Sozlesme_Tablosu] CHECK CONSTRAINT [FK_Sozlesme_Tablosu_Personel_Tablosu]
GO
ALTER TABLE [dbo].[Sozlesme_Tablosu]  WITH CHECK ADD  CONSTRAINT [FK_Sozlesme_Tablosu_Sozlesme_Turu_Tablosu] FOREIGN KEY([Sozlesme_Turu_Id])
REFERENCES [dbo].[Sozlesme_Turu_Tablosu] ([Sozlesme_Turu_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sozlesme_Tablosu] CHECK CONSTRAINT [FK_Sozlesme_Tablosu_Sozlesme_Turu_Tablosu]
GO
ALTER TABLE [dbo].[Sozlesme_Tablosu]  WITH CHECK ADD  CONSTRAINT [FK_Sozlesme_Tablosu_Subeler_Tablosu] FOREIGN KEY([Sube_Id])
REFERENCES [dbo].[Subeler_Tablosu] ([Sube_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sozlesme_Tablosu] CHECK CONSTRAINT [FK_Sozlesme_Tablosu_Subeler_Tablosu]
GO
